<div class="main">
  <div class="headerContainer">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/prodscout-90022.appspot.com/o/ps128.png?alt=media&token=dbeed48f-3063-4c7c-8e7f-94d35fcf4a3f"
    />
    <h1>Deskty!</h1>
    <h2>prodScout Watcher for Desktop</h2>
  </div>

  <div class="bodyContainer">
    {{ connectCheck }}
    <h5>Log-In (Managed Profiles)</h5>
    <label>Profile Id </label>
    <br />
    <input type="text" class="input-form-standard" [(ngModel)]="profileId" />
    <br />
    <sup *ngIf="invalidId" style="font-size: 10px; color: red">
      {{ profilePromt }}
    </sup>
    <br />
    <label>Username </label>
    <br />
    <input type="text" class="input-form-standard" [(ngModel)]="username" />
    <br />
    <sup *ngIf="invalidPassword" style="font-size: 10px; color: red">
      {{ passwordPrompt }}
    </sup>
    <br />
    <button type="submit" class="button-lg" (click)="login()">
      Send Scouts
    </button>
    <br />
    <sup *ngIf="logPrompt" style="font-size: 10px; color: red">
      {{ logNotify }}
    </sup>
  </div>
  <br />
  <div class="subLinks">
    <label (click)="openSite()" class="subLabel">
      Register || Forgot Password?
    </label>
  </div>
  <br />
  <div class="footerContainer">
    <label>prodScout 2022 (Deskty)</label>
  </div>
</div>
