<div class="main">
  <div class="headerContainer">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/prodscout-90022.appspot.com/o/ps128.png?alt=media&token=dbeed48f-3063-4c7c-8e7f-94d35fcf4a3f"
    />
    <h1>Deskty!</h1>
    <h2>prodScout Watcher for Desktop</h2>
  </div>

  <div class="bodyContainer">
    <h5>Log-In (Managed Profiles)</h5>
    <label>Profile Id</label>
    <br />
    <input type="text" class="input-form-standard" />
    <br />
    <label>Profile Password</label>
    <br />
    <input type="password" class="input-form-standard" />
    <br />
    <button type="submit" class="button-lg">Send Scouts</button>
  </div>

  <div class="footerContainer">
    <label>prodScout 2022 (Deskty)</label>
  </div>
</div>
